body {
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
  margin: 0px;
}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
  margin: 33px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #000;

  &:visited {
    color: #666;
  }

  &:hover {
    color: #fff;
    background-color: #000;
  }
}

th {
  padding-bottom: 5px;
}

td {
  padding-bottom: 7px;
  padding-left: 5px;
  padding-right: 5px;
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

footer {
    background: #252424 ;
    color: #FFF;
    padding: 5px ;
}

footer .nav a {
    width: 100%;
    display: block;
    padding: 20px;
    color: #FFF;
    text-decoration: none;
    border-bottom: 1px solid rgba(255,255,255,.2);
    font-size: 18px;
}

footer .container .row ul {
/*    padding-left: 35px;*/
    list-style: none;
}

footer .nav a:hover {
    text-decoration: underline;
}

footer .logo {
    background: #5e5a5a;
    color: #FFF;
    padding: 16%;
    font-weight: 300px;
    border-radius: 0 30px 0 30px;
    font-size: 30px;
    text-align: center;
}
#posicion{ 
  display: inline-block;
}

#texto{
  color: #ffffff;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 15px;
  padding: 15px;
}

#colores{
 background-color: #563d7c;
  color: #ffffff;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
    line-height: 18px;
  margin: 0px;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;

  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0;
    background-color: #c00;
    color: #fff;
  }

  ul li {
    font-size: 12px;
    list-style: square;
  }
}

label {
  display: block;
}
